<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Autores de P5_Quiz</title>
</head>

<body>
<h1>P5_Quiz</h1>
<h2>Autores</h2>
<p></p>
<p>Autores: ANDREA Y ADRIANA</p>
<img src="https://laverdadnoticias.com/__export/1515451376976/sites/laverdad/img/2018/01/08/perrito_labrador_ensenxa_a_sus_cachorros_a_nadar_crop1515451344674.jpg_1834093470.jpg" width="200"/>
<p></p>
<a href="/quizzes"> Quizzes</a>
<a href="/"> HOME</a>
</body>
</html>
